<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="../../components/AlertifyJS/build/css/alertify.min.css" />
    <link rel="stylesheet" href="../../components/AlertifyJS/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="../../components/AlertifyJS/build/css/themes/semantic.min.css" />

    <!-- bootstrap theme -->
    <link rel="stylesheet" href="../../components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- ILT theme -->
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-custom">

    <header class="navbar navbar-fixed-top" role="banner">
        <div class="container ILT-navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html/home/main">Logo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse ILT-navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right page-scroll">
                    <li>
                        <a href="home.html/home/main">Home</a>
                    </li>
                    <li>
                        <a href="home.html/home/learningOutcome">Services</a>
                    </li>
                    <li>
                        <a href="home.html/home/aboutUs">About us</a>
                    </li>
                    <li>
                        <a href="home.html/home/contactUs">Contact us</a>
                    </li>
                    <li>
                        <div class="search-container">
                            <input type="text" placeholder="Search" id="search-input">
                            <i class="glyphicon glyphicon-search search-icon"></i>
                        </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </header>

    <div class="ILT-container">
        <section id="main" class="home-first-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Welcome To ILT Project</h1>
                        <p>
                            This is ILT Project Some description here
                        </p>


                        <div>
                            <a class="btn btn-info ILT-primary-btn register split" href="#"> Get Started </a>
                            <a class="btn btn-info ILT-secondary-btn login split" href="#"> Login </a>
                        </div>

                        <div>or <a href="#">Register</a> to take a look</div>
                    </div>
                </div>
            </div>

        </section>

        <section id="aboutUs">
            <div class="container about-us">
                <div class="row title-separate">
                    <div class="col-xs-12">
                        <h3 class="title">About Us</h3>
                        <div class="splitter">
                            <div class="title-split"></div>
                            <div class="dot-split"></div>
                            <div class="title-split"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-title-header">
                        <span class="inner-title">
                            Our Goals
                        </span>
                        </div>

                        <div class="description">
                            <p>
                                Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                            </p>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-title-header">
                        <span class="inner-title">
                            Our Philosophy
                        </span>
                        </div>

                        <div class="description">
                            <p>
                                Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                            </p>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-title-header">
                        <span class="inner-title">
                            Broad Field
                        </span>
                        </div>

                        <div class="description">
                            <p>
                                Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="statistical">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="main-stat-number">
                            1,292
                        </div>
                        <div class="stat-title">
                            Visitors
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="main-stat-number">
                            9,034
                        </div>
                        <div class="stat-title">
                            Registered Members
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="main-stat-number">
                            89,242
                        </div>
                        <div class="stat-title">
                            Learning outcome item
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="main-stat-number">
                            129
                        </div>
                        <div class="stat-title">
                            Available courses
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="learningOutcome">
            <div class="container learning-outcome">
                <div class="row title-separate">
                    <div class="col-xs-12">
                        <h3 class="title">Learning Outcome</h3>
                        <div class="splitter">
                            <div class="title-split"></div>
                            <div class="dot-split"></div>
                            <div class="title-split"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="../../img/learning_outcome_1.png" alt="" class="thumb">
                                <div class="description-thumb">
                                    <h5>Introduction to algorithm</h5>
                                    <div class="calender-time">
                                        <i class="glyphicon glyphicon-calendar"></i> 5th September, 21:24
                                    </div>
                                    <div class="description-content">
                                        <p>
                                            Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="../../img/learning_outcome_2.png" alt="" class="thumb">
                                <div class="description-thumb">
                                    <h5>Introduction to algorithm</h5>
                                    <div class="calender-time">
                                        <i class="glyphicon glyphicon-calendar"></i> 5th September, 21:24
                                    </div>
                                    <div class="description-content">
                                        <p>
                                            Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="../../img/learning_outcome_3.png" alt="" class="thumb">
                                <div class="description-thumb">
                                    <h5>Introduction to algorithm</h5>
                                    <div class="calender-time">
                                        <i class="glyphicon glyphicon-calendar"></i> 5th September, 21:24
                                    </div>
                                    <div class="description-content">
                                        <p>
                                            Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="broadFields">
            <div class="container broad-fields">
                <div class="row title-separate">
                    <div class="col-xs-12">
                        <h3 class="title">Broad Fields</h3>
                        <div class="splitter">
                            <div class="title-split"></div>
                            <div class="dot-split"></div>
                            <div class="title-split"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img src="../../img/broad_fields_1.png" alt="" class="thumb">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="../../img/broad_fields_2.png" alt="" class="thumb">
                    </div>
                </div>

                <div class="row broad-img-split">
                    <div class="col-xs-12 col-sm-3">
                        <img src="../../img/broad_fields_3.png" alt="" class="thumb">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <img src="../../img/broad_fields_4.png" alt="" class="thumb">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <img src="../../img/broad_fields_5.png" alt="" class="thumb">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <img src="../../img/broad_fields_6.png" alt="" class="thumb">
                    </div>
                </div>
            </div>
        </section>


        <section id="contactUs">
            <div class="container contact-us">
                <div class="row title-separate">
                    <div class="col-xs-12">
                        <h3 class="title">Contact Us</h3>
                        <div class="splitter">
                            <div class="title-split"></div>
                            <div class="dot-split"></div>
                            <div class="title-split"></div>
                        </div>
                    </div>
                </div>

                <form role="form" action="" method="post">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <span style="color:red;display: none;" class="req" id="req1">Name Field Is requierd.</span>
                                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Full Name" />
                            </div>
                            <div class="form-group">
                                <span style="color:red;display: none;" class="req" id="req2">Email Field Is requierd.</span>
                                <input type="text" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email Address" />
                            </div>
                            <div class="form-group">
                                <span style="color:red;display: none;" class="req" id="req3">Message Field Is requierd.</span>
                                <textarea name="InputMessage" id="InputMessage" placeholder="Message" class="form-control" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <h4>Information</h4>

                            <p>
                                Lorem Ipsum is dummy text which has no meaning however looks very similar to real text. Common names for Lorem ipsum text include: - blind text - dummy text - greeked text - placeholder text - mock content - filler text.
                            </p>

                            <div class="street-address">
                                <i class="glyphicon glyphicon-map-marker"></i>Street Name 123 City
                            </div>

                            <div class="phone">
                                <i class="glyphicon glyphicon-earphone"></i> (000-0000-000)
                            </div>

                            <input type="submit" name="submit" id="submit" value="Send Message" class="btn btn-info ilt-primary-btn send-message">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

</body>

<script type="text/javascript" src="../../components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../components/AlertifyJS/build/alertify.min.js"></script>
<script type="text/javascript" src="../../components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/main.js"></script>
</html>